.parent {
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items:center;
}
.left {
    height:100%;
    width:25%;
    background-color:cornflowerblue;
    overflow: auto;

}
.right{
    height:100%;
    width:75%;
    background-color: blanchedalmond;
    overflow: auto;
}