.parent {
    height:100%;
    width:75%;

}
form {
    background-color:darkgray;
    border:3px  solid grey  ;
    border-radius: 10px;
    overflow: auto;
    width:50%;

    
   
}
label {
    width:100px;
    color:white;
    margin-left:5px;
    
   
}
input {
    margin-top: 10px;
    margin-right: 5px;
}